<div class="container my-5">
    <h1 class="mb-3">Add Invoice</h1>
    <div class="row">
      <div class="col-6">
        <form [formGroup]="invoiceReactiveForm" (ngSubmit)="AddInvoice()">
          <div class="mb-3">
            <label for="c_id" class="form-label">Customer</label>
            <select class="form-select" id="c_id" formControlName="c_id">
              <option [ngValue]="null">-- Select Customer --</option>
              <option *ngFor="let customer of customer" [value]="customer.c_id">
                {{ customer.fullName }}
              </option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="invoiceReactiveForm.get('c_id')?.invalid && (invoiceReactiveForm.get('c_id')?.dirty || invoiceReactiveForm.get('c_id')?.touched)"
            >
            </div>
          </div>
          <div class="mb-3">
            <label for="invoiceDate" class="form-label">Invoice Date</label>
            <input type="text" readonly class="form-control" id="invoiceDate" formControlName="invoiceDate" />
          </div>
          <div class="mb-3">
            <label for="totalAmount" class="form-label">Total Amount</label>
            <input type="number" class="form-control" id="totalAmount" formControlName="totalAmount" [ngClass]="{
              'is-invalid':
              invoiceReactiveForm.controls['totalAmount'].invalid &&
                (invoiceReactiveForm.controls['totalAmount'].dirty ||
                invoiceReactiveForm.controls['totalAmount'].touched)
            }"
          />
            <div class="invalid-feedback" *ngIf="invoiceReactiveForm.get('totalAmount')?.invalid && (invoiceReactiveForm.get('totalAmount')?.dirty || invoiceReactiveForm.get('totalAmount')?.touched)">
              <div *ngIf="invoiceReactiveForm.controls['totalAmount']?.errors?.['required']">
                Total Amount is required.
              </div>
              <div *ngIf="invoiceReactiveForm.controls['totalAmount']?.errors?.['min']">
                Amount cannot be negative.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="discount" class="form-label">Discount</label>
            <input type="number" class="form-control" id="discount" formControlName="discount" [ngClass]="{
              'is-invalid':
              invoiceReactiveForm.controls['discount'].invalid &&
                (invoiceReactiveForm.controls['discount'].dirty ||
                invoiceReactiveForm.controls['discount'].touched)
            }"
          />
          <div class="invalid-feedback" *ngIf="invoiceReactiveForm.get('discount')?.invalid && (invoiceReactiveForm.get('discount')?.dirty || invoiceReactiveForm.get('discount')?.touched)">
            <div *ngIf="invoiceReactiveForm.controls['discount']?.errors?.['required']">
              Discount is required.
            </div>
            <div *ngIf="invoiceReactiveForm.controls['discount'].errors?.['min']">
              Discount must be between 0 and 1.
            </div>
            <div *ngIf="invoiceReactiveForm.controls['discount'].errors?.['max']">
              Discount must be between 0 and 1.
            </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="discountedAmount" class="form-label">Discounted Amount</label>
            <input type="number" class="form-control" id="discountedAmount" formControlName="discountedAmount" [ngClass]="{
              'is-invalid':
              invoiceReactiveForm.controls['discountedAmount'].invalid &&
                (invoiceReactiveForm.controls['discountedAmount'].dirty ||
                invoiceReactiveForm.controls['discountedAmount'].touched)
            }"
          />
            <div class="invalid-feedback" *ngIf="invoiceReactiveForm.get('discountedAmount')?.invalid && (invoiceReactiveForm.get('discountedAmount')?.dirty || invoiceReactiveForm.get('discountedAmount')?.touched)">
              <div *ngIf="invoiceReactiveForm.controls['discountedAmount']?.errors?.['required']">
                Discounted Amount is required.
              </div>
              <div *ngIf="invoiceReactiveForm.controls['discountedAmount']?.errors?.['min']">
                Discounted Amount cannot be negative.
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!invoiceReactiveForm.valid">Add Invoice</button>
        </form>
      </div>
    </div>
  </div>