<div class="container my-5">
    <h1 class="mb-3">Add New Payment</h1>
    <div class="row">
      <div class="col-6">
          <form #customerForm="ngForm" (ngSubmit)="addPayment(customerForm.value)">
            <div class="mb-3">
              <label for="c_id" class="form-label">Customer</label>
              <select class="form-select" id="c_id" name="c_id" [(ngModel)]="selectedCustomerId">
                <option [ngValue]="null">-- Select Customer --</option>
                <option *ngFor="let customer of customers" [ngValue]="customer.c_id">
                  {{ customer.fullName }}
                </option>
              </select>
            
            <label for="r_id" class="form-label">Room</label>
            <select class="form-select" id="r_id" name="r_id" [(ngModel)]="selectedRoomId">
              <option [ngValue]="null">-- Select Room --</option>
              <option *ngFor="let room of rooms" [ngValue]="room.r_id">
                {{ room.r_type }}
              </option>
            </select>
           
            <label for="quantity" class="form-label">Quantity</label>
            <input
              type="number"
              class="form-control"
              id="quantity"
              name="quantity"
              [(ngModel)]="addPaymentProcessReq.quantity"
            />
            <label for="transactionDate" class="form-label">Transaction Date</label>
            <input
              type="date"
              class="form-control"
              id="transactionDate"
              name="transactionDate"
              [(ngModel)]="addPaymentProcessReq.transactionDate"
            />
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
  