<div class="container my-5 center">
  <h1 class="mb-3">Customer List</h1>
  <a [routerLink]="['/add/customer']"  class="button-3"
    ><i class="bi bi-plus-circle"></i> Add Customer</a
  >
  <br />
  <br />

  <table class="table" *ngIf="customers && customers.length > 0">
    <thead class="header">
      <tr>
        <th>Customer ID</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Contact</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let customer of customers; index as i"
        [ngClass]="{
          'table-row-even': i % 2 === 0,
          'table-row-odd': i % 2 !== 0
        }"
      >
        <td>{{ customer.c_id }}</td>
        <td>{{ customer.fullName }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.contact }}</td>

        <td>
          <a [routerLink]="['/customer', 'editCustomer', customer.c_id]">
            ><i class="bi bi-pencil-square"></i> Edit</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!customers || customers.length <= 0">
    No Customers has been recorded!
  </p>
</div>
